<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <p>Kelas: {{ class_name }}</p>

    <h2>Daftar FunkoPop</h2>
    <ul>
        {% for product in products %}
        <li>
            <img src="{{ product.thumbnail }}" width="100"><br>
            <b>{{ product.name }}</b><br>
            Harga: Rp{{ product.price }}<br>
            Deskripsi: {{ product.description }}<br>
            Kategori: {{ product.category }}<br>
            Stock: {{ product.stock }}<br>
            {% if product.is_featured %}
                <span style="color: gold; font-weight: bold;">⭐ Featured</span>
            {% else %}
                <span style="color: gray;">Not Featured</span>
            {% endif %}
        </li>
        <hr>
        {% endfor %}
    </ul>
</body>
</html>
